body {
  background: black;
  font-family: 'Raleway', sans-serif;
}

main {
  box-sizing: border-box;
}

#hil, #don {
  width: 50%;
  height: 1000px;
  background: black;
}

#hil {
  float: left;
}

#don {
  float: right;
}

h1 {
  text-align: center;
  font-size: 300%;
}

.d {
  color: blue;
}

.r {
  color: red;
}

#don img {
  float: right;
  width: 20%;
  max-height: auto;
}

#hil img {
  max-width: 20%;
  max-height: auto;
}
