body {
  background: black;
  font-family: 'Raleway', sans-serif;
}

main {
  box-sizing: border-box;
}

#hil, #don {
  width: 50%;
  /*height: 1000px;*/
  background: black;
}

#hil {
  float: left;
}

#don {
  float: right;
}

h1 {
  text-align: center;
  font-size: 300%;
}

.d {
  color: blue;
  float: right;
  padding-right: 19%;
}

.r {
  color: red;
  float: left;
  padding-left: 19%;
}

#don img {
  float: right;
  width: 20%;
  max-height: auto;
  padding-top: 20%;
}

#hil img {
  float: left;
  max-width: 20%;
  max-height: auto;
  padding-top: 20%;
}

#hilTweets {
  color: white;
  text-align: center;
  width: 70%;
  float: right;
  margin: 5%;
}

#donTweets {
  color: white;
  text-align: center;
  width: 70%;
  float: left;
  margin: 5%;
}

#tweet {
  font-size: 260%;
  text-shadow: 5px 5px 10px grey;
}

#author {
  font-size: 140%;
  text-shadow: 5px 5px 10px grey;
}

#city {
  font-size: 120%;
}

#date {
  font-size: 120%;
}

@media (max-width: 981px) {

  #tweet {
    font-size: 160%;
  }

  #author {
    font-size: 80%;
  }

  #city {
    font-size: 60%;
  }

  #date {
    font-size: 60%;
  }

  #hil, #don {
    width: 100%;
  }

}

@media (max-width: 1100px) {

  #tweet {
    font-size: 200%;
  }

  #author {
    font-size: 120%;
  }

  #city {
    font-size: 100%;
  }

  #date {
    font-size: 80%;
  }

  #hil, #don {
    width: 100%;
  }


}
